/*startlogin*/
.container_login{
    width:100wh;
    height: 100vh;
    background-image:linear-gradient(to right bottom right,var(--primary-color), var(--primary-color-light));
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    background: #FFF;
    width:35rem;
    height: 40rem;
    padding: 2rem;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    &__input{
        position: relative;
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
        border:none;
    }

    label{
        position: absolute;
        top:.5rem;
        left: 0;
        transition: all .5s ease-in-out;
    }

    input{
        padding: 1rem 0;
        width: 100%;
        border:none;
        border-bottom: 2px solid #EEE;
        transition: all .5s ease-in-out;
    }
    input:focus{
        outline: none;
        border-bottom: 2px solid var(--color-primary);        
    }
    input:focus ~ label,
    input:invalid ~ label
    {
        font-size: 1rem;
        top:-1rem;
    }
    input:valid ~ label{
        top:-1rem;
    }
   
    
    
}
/*endlogin*/
.shadow{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);    
}